<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
      <defaultDocument>
        <files>
          <clear />
          <add value="start.aspx" />
        </files>
      </defaultDocument>
    </system.webServer>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="86753090" />
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>